:root {
	--shadow-light:0 6px 15px rgba(40,40,40,0.08);
	--shadow-dark:0 6px 15px rgba(40,40,40,0.2);
	--shadow-darker:0 6px 15px rgba(40,40,40,0.4);
	--font-family:"Helvetica Neue", "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
}
::-webkit-scrollbar {
	display:none;
}
html {
	height:100%;
	font-family:var(--font-family);
}
body {
	margin:0;
	width:100%;
	height:100%;
	padding:0;
	font-size:16px;
	position:relative;
	overflow:hidden;
}
button, label, .noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
button, .button {
	cursor:pointer;
	transition:background 0.25s, color 0.25s;
}
button, input, .button {
	border:none;
	outline:none;
	-webkit-appearance:none;
}
a {
	text-decoration:none;
}
div {
	transition:background 0.5s, border-color 0.5s;
}
.hidden {
	position:absolute;
	visibility:hidden;
	width:0;
	height:0;
	z-index:-5;
}
.visible {
	display:block;
}
.unavailable {
	opacity:0.3;
	pointer-events:none;
	transition:background 0.25s, opacity 0.25s;
}
.available {
	transition:background 0.25s, opacity 0.25s;
}

.navbar {
	height:30px;
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	overflow:visible;
	width:100%;
	display:block;
	font-size:0;
}
.navbar-left {
	vertical-align:top;
	display:inline-block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.navbar-right {
	vertical-align:top;
	display:inline-block;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
.navbar-item {
	display:inline-block;
	width:auto;
	padding:0 15px 0 15px;
	height:100%;
	font-size:16px;
	vertical-align:top;
	background:none;
	cursor:pointer;
}
.navbar-subitem {
	display:block;
	width:100%;
	padding:0 15px 0 15px;
	height:30px;
	font-size:16px;
	background:none;
	cursor:pointer;
	text-align:left;
	white-space:nowrap;
}
.navbar-icon {
	background:none;
	height:100%;
	width:36px;
	padding:0 3px 0 3px;
}
.navbar-icon svg {
	display:block;
	width:20px;
	height:20px;
	padding:4px 5px 6px 5px;
}
.navbar-item.active, .navbar-icon.active {
	cursor:default;
}
.navbar-menu {
	position:absolute;
	border-radius:0 0 10px 10px;
	overflow:hidden;
	display:none;
	width:auto;
}
.navbar-battery-wrapper {
	overflow:hidden;
	width:60px;
	height:100%;
	display:inline-block;
	position:relative;
	vertical-align:top;
	cursor:pointer;
	transition:background 0.25s;
}
.navbar-battery-wrapper.active {
	cursor:default;
}
.navbar-battery-wrapper .bolt-icon, .navbar-battery-wrapper .backward-icon {
	width:8px;
	height:8px;
	position:absolute;
	display:none;
	z-index:3;
	top:calc(50% - 4px);
	left:calc(50% - 4px);
	transition:fill 0.25s;
}
.navbar-battery-foreground {
	width:0;
	height:16px;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.navbar-battery-background {
	width:calc(100% - 22px);
	overflow:hidden;
	height:14px;
	position:absolute;
	top:7px;
	left:10px;
	border-radius:10px;
	z-index:1;
	transition:background 0.25s;
	border-style:solid;
	border-width:1px;
}

.upload-menu {
	position:absolute;
	right:70px;
	top:30px;
	width:350px;
	display:none;
	overflow:hidden;
	height:0;
	transition:height 0.25s;
	z-index:40;
	border-radius:0 0 10px 10px;
}
.upload-overlay {
	position:absolute;
	top:0;
	left:0;
	height:calc(100% - 20px);
	width:calc(100% - 20px);
	padding:10px;
	overflow:hidden;
	border-radius:10px;
	cursor:pointer;
	display:none;
}
.upload-overlay-label {
	width:100%;
	height:100%;
	font-weight:bold;
	font-size:18px;
	border-radius:2px;
	border-style:dashed;
	border-width:2px;
	transition:color 0.25s, border-color 0.25s, background 0.25s;
	pointer-events:none;
}
.upload-list {
	height:calc(100% - 60px);
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.upload-file-wrapper {
	width:100%;
	display:block;
	margin:0;
	padding:10px 0 10px 0;
	font-size:0;
	text-align:center;
}
.upload-file-name {
	margin:0;
	padding:0 5px 0 5px;
	height:30px;
	width:calc(100% - 110px);
	border-radius:5px;
	font-size:16px;
}
.upload-file-type {
	margin:0 0 0 10px;
	padding:0 5px 0 5px;
	width:60px;
	text-align:center;
	height:30px;
	border-radius:5px;
	font-size:16px;
}
.upload-file-bottom {
	text-align:left;
}
.upload-file-size {
	margin:0 0 0 10px;
	padding:0 10px 0 10px;
	height:30px;
	cursor:default;
	width:auto;
	border-radius:5px;
	font-size:16px;
}
.upload-file-remove {
	margin:0 0 0 10px;
	padding:0 10px 0 10px;
	height:30px;
	cursor:pointer;
	width:auto;
	border-radius:5px;
	font-size:16px;
}
.upload-file-progress-wrapper {
	display:block;
	margin:10px auto 10px auto;
	width:calc(100% - 20px);
	height:10px;
	position:relative;
	overflow:hidden;
	border-radius:5px;
}
.upload-file-progress-foreground {
	width:0;
	height:100%;
	position:absolute;
	z-index:2;
	top:0;
	left:0;
}
.upload-file-progress-background {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
}
.upload-actions {
	display:block;
	position:relative;
	border-style:solid;
	border-width:1px 0;
}
.upload-cancel {
	position:absolute;
	left:10px;
	top:10px;
	padding:0 10px 0 10px;
	height:40px;
	cursor:pointer;
	width:80px;
	border-radius:5px;
	font-size:16px;
}
.upload-count {
	position:absolute;
	right:100px;
	top:10px;
	padding:0 10px 0 10px;
	height:40px;
	cursor:default;
	width:auto;
	border-radius:5px;
	font-size:16px;
}
.upload-submit {
	position:absolute;
	right:10px;
	top:10px;
	padding:0 10px 0 10px;
	height:40px;
	cursor:pointer;
	width:80px;
	border-radius:5px;
	font-size:16px;
}

.notification-menu {
	position:absolute;
	right:0;
	top:30px;
	width:0;
	display:none;
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
	height:calc(100% - 30px);
	transition:width 0.25s;
	z-index:40;
}
.notification-clear {
	display:block;
	margin:10px auto 10px auto;
	height:40px;
	font-size:20px;
	font-weight:bold;
	border-radius:5px;
	width:calc(100% - 20px);
	transition:opacity 0.25s;
}
#desktop .notification-clear:hover {
	opacity:0.8;
}
.notification-wrapper {
	width:calc(100% - 20px);
	padding:0;
	display:block;
	border-radius:5px;
	margin:10px auto 10px auto;
}
.notification-top {
	border-radius:5px 5px 0 0;
	padding:10px;
	height:20px;
	position:relative;
	display:block;
}
.notification-title {
	font-size:16px;
	line-height:20px;
	font-weight:bold;
}
.notification-remove {
	height:14px;
	width:14px;
	position:absolute;
	top:13px;
	right:13px;
	border-radius:50%;
	transition:opacity 0.25s;
}
#desktop .notification-remove:hover {
	opacity:0.8;
}
.notification-bottom {
	padding:10px;
	position:relative;
	display:block;
}
.notification-text {
	font-size:16px;
	line-height:25px;
}
.notification-date-wrapper {
	display:block;
	padding:10px;
	border-radius:0 0 5px 5px;
}

.main-wrapper {
	position:absolute;
	z-index:3;
	top:0;
	left:0;
	height:calc(100% - 60px);
	width:100%;
	padding:30px 0;
}

.activity-wrapper {
	position:absolute;
	top:30px;
	left:0;
	height:calc(100% - 30px - 85px);
	width:100%;
	overflow:hidden;
}
.activity-window {
	position:absolute;
	top:10%;
	left:25%;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
	transition:opacity 0.25s;
	border-style:solid;
	border-width:0.5px;
}
.activity-window-top {
	position:relative;
	width:100%;
	height:30px;
	font-size:0;
	cursor:move;
}
.activity-window-bottom {
	position:relative;
	width:100%;
	height:calc(100% - 30px);
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.activity-close {
	height:14px;
	width:14px;
	margin:8px 0 0 5px;
	border-radius:50%;
	display:inline-block;
	transition:opacity 0.25s;
	vertical-align:top;
}
.activity-hide {
	height:14px;
	width:14px;
	margin:8px 0 0 5px;
	border-radius:50%;
	display:inline-block;
	transition:opacity 0.25s;
	vertical-align:top;
}
#desktop .activity-close:hover, #desktop .activity-hide:hover {
	opacity:0.8;
}
.activity-title {
	position:absolute;
	right:10px;
	top:0;
	text-align:right;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	width:250px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.activity-text {
	font-size:16px;
	display:block;
	padding:5px 10px 5px 10px;
	line-height:25px;
}
.activity-window-bottom::-webkit-scrollbar, .settings-sidebar::-webkit-scrollbar, .settings-pane::-webkit-scrollbar, .upload-list::-webkit-scrollbar, .navmod-sidebar::-webkit-scrollbar, .navmod-pane::-webkit-scrollbar, .popup-bottom.scroll::-webkit-scrollbar {
	display:block;
	width:4px;
}
.activity-window-bottom::-webkit-scrollbar-thumb, .settings-sidebar::-webkit-scrollbar-thumb, .settings-pane::-webkit-scrollbar-thumb, .upload-list::-webkit-scrollbar-thumb, .navmod-sidebar::-webkit-scrollbar-thumb, .navmod-pane::-webkit-scrollbar-thumb, .popup-bottom.scroll::-webkit-scrollbar-thumb {
	border-radius:0;
}

.activity-window.settings .activity-window-bottom {
	overflow-y:visible;
}
.settings-sidebar {
	width:120px;
	height:100%;
	border-style:solid inset;
	border-width:0 2px 0 0;
	display:inline-block;
	vertical-align:top;
	overflow-x:hidden;
	overflow-y:visible;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.settings-category {
	display:block;
	width:100%;
	padding:0 10px 0 10px;
	height:40px;
	font-size:16px;
	background:none;
	text-align:left;
}
.settings-category.active {
	cursor:default;
}
.settings-pane {
	display:inline-block;
	width:calc(100% - 122px);
	height:100%;
	vertical-align:top;
	font-size:0;
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.settings-label {
	width:calc(100% - 20px);
	display:block;
	cursor:default;
	margin:0 auto 0 auto;
	height:40px;
	background:none;
	text-align:left;
	border-radius:5px;
	font-size:16px;
}
.settings-item-wrapper {
	text-align:left;
	padding:0 10px 0 10px;
}
.settings-button {
	display:inline-block;
	margin:0 5px 10px 5px;
	height:30px;
	border-radius:5px;
	padding:0;
	font-size:16px;
}
.settings-button.small {
	width:100px;
}
.settings-button.medium {
	width:150px;
}
.settings-button.large {
	display:block;
	width:calc(65% - 20px);
}
.settings-button.active {
	cursor:default;
}
.settings-textarea {
	display:block;
	margin:0 auto 0 auto;
	resize:none;
	width:calc(100% - 50px);
	outline:none;
	border:none;
	min-height:100px;
	font-size:16px;
	padding:10px;
	border-radius:5px;
}
.settings-input {
	display:inline-block;
	margin:0 5px 10px 5px;
	padding:0 10px 0 10px;
	height:30px;
	border-radius:5px;
	font-size:16px;
}
.settings-input.small {
	width:80px;
}
.settings-input.medium {
	width:150px;
}
.settings-input.large {
	display:block;
	width:calc(65% - 40px);
}
.settings-storage-wrapper {
	display:block;
	margin:0 auto 10px auto;
	width:calc(100% - 10px);
	height:20px;
	position:relative;
	overflow:hidden;
	border-radius:5px;
}
.settings-storage-foreground {
	width:0;
	height:100%;
	position:absolute;
	z-index:2;
	top:0;
	left:0;
}
.settings-storage-background {
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
}

.navmod-window .activity-window-bottom {
	overflow-y:visible;
}
.navmod-window .back-icon {
	height:14px;
	width:14px;
	padding:4px;
	margin:4px 5px 0 90px;
	border-radius:5px;
	display:none;
	transition:opacity 0.25s;
	vertical-align:top;
	cursor:pointer;
}
#desktop .navmod-window .back-icon:hover {
	opacity:0.8;
}
.navmod-sidebar {
	width:120px;
	height:100%;
	border-style:solid inset;
	border-width:0 2px 0 0;
	display:inline-block;
	vertical-align:top;
	overflow-x:hidden;
	overflow-y:visible;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.navmod-location {
	display:block;
	width:100%;
	padding:0 10px 0 10px;
	height:40px;
	font-size:16px;
	background:none;
	text-align:left;
}
.navmod-location.active {
	cursor:default;
}
.navmod-pane {
	display:inline-block;
	width:calc(100% - 132px);
	height:100%;
	vertical-align:top;
	position:relative;
	font-size:0;
	padding:0 5px 0 5px;
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.navmod-empty-overlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	padding:0;
	margin:0;
	pointer-events:none;
	cursor:default;
	font-size:18px;
	font-weight:bold;
	background:none;
}
.navmod-file-wrapper {
	height:90px;
	width:calc(33.33333% - 20px);
	display:inline-block;
	text-align:center;
	cursor:pointer;
	margin:5px;
	padding:10px 5px 10px 5px;
	overflow:hidden;
	border-radius:5px;
	position:relative;
	transition:background 0.25s;
}
.navmod-file-wrapper .file-icon {
	width:25%;
	display:block;
	margin:0 auto 10px auto;
	opacity:0.95;
	transition:fill 0.25s;
	pointer-events:none;
}
.navmod-file-wrapper .folder-icon {
	width:30%;
	display:block;
	margin:5px auto 10px auto;
	opacity:0.95;
	transition:fill 0.25s;
	pointer-events:none;
}
.navmod-file-name {
	display:block;
	width:90%;
	height:30px;
	padding:0 5px 0 5px;
	margin:0 auto 0 auto;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	border-radius:5px;
	font-size:14px;
	pointer-events:none;
	position:absolute;
	bottom:15px;
}
#desktop .navmod-file-wrapper:hover .file-icon, #desktop .navmod-file-wrapper:hover .folder-icon, #desktop .navmod-file-wrapper.active .file-icon, #desktop .navmod-file-wrapper.active .folder-icon {
	opacity:1;
}
.navmod-file-date {
	display:none;
	height:100%;
	display:none;
	background:none;
	vertical-align:top;
	font-size:16px;
}
.navmod-menu {
	position:absolute;
	display:none;
	border-radius:5px;
	overflow-x:hidden;
	width:auto;
	height:auto;
	z-index:25;
	border-style:solid;
	border-width:0.5px;
}
.navmod-menu-item {
	display:block;
	width:100%;
	padding:0 15px 0 15px;
	height:30px;
	font-size:16px;
	background:none;
	cursor:pointer;
	text-align:left;
	white-space:nowrap;
}

.popup-overlay {
	z-index:999;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}
.popup-wrapper {
	z-index:1000;
	position:fixed;
	background:none;
	width:100px;
	height:100px;
	left:calc(50% - 50px);
	top:calc(50% - 50px);
	display:none;
}
.popup-top {
	position:relative;
	width:100%;
	height:30px;
	font-size:0;
	border-radius:5px 5px 0 0;
	border-style:solid;
	border-width:0.5px 0.5px 0 0.5px;
}
.popup-bottom {
	position:relative;
	width:100%;
	height:calc(100% - 30px);
	overflow:hidden;
	border-radius:0 0 5px 5px;
	border-style:solid;
	border-width:0 0.5px 0.5px 0.5px;
	font-size:0;
}
.popup-bottom.scroll {
	overflow-x:hidden;
	overflow-y:scroll;
	scroll-behavior:smooth;
	-webkit-overflow-scrolling:touch;
}
.popup-close {
	height:14px;
	width:14px;
	margin:8px 0 0 5px;
	border-radius:50%;
	display:inline-block;
	transition:opacity 0.25s;
	vertical-align:top;
}
#desktop .popup-close:hover {
	opacity:0.8;
}
.popup-title {
	position:absolute;
	right:10px;
	top:0;
	text-align:right;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
}
.popup-text {
	line-height:25px;
	padding:10px;
	font-size:16px;
	border-radius:5px;
	width:calc(100% - 44px);
	margin:10px auto 10px auto;
	display:block;
	border-style:solid;
	border-width:2px;
}
.popup-input {
	width:calc(100% - 40px);
	height:40px;
	font-size:16px;
	padding:0 10px 0 10px;
	margin:10px auto 10px auto;
	display:block;
	border-radius:5px;
}
.popup-input.new-name {
	display:inline-block;
	width:calc(100% - 40px - 120px);
	margin:10px 0 10px 10px;
}
.popup-input.extension {
	display:inline-block;
	width:90px;
	margin:10px 0 10px 10px;
}
.popup-submit {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	font-size:18px;
	font-weight:bold;
}

.help-search {
	position:sticky;
	top:0;
	left:0;
	display:block;
	width:calc(100% - 20px);
	padding:0 10px 0 10px;
	height:40px;
	font-size:18px;
}
.help-section {
	display:block;
	width:100%;
	height:auto;
	width:calc(100% - 40px);
	padding:10px;
	border-radius:5px;
	margin:10px auto 10px auto;
}
.help-title {
	font-size:16px;
	font-weight:bold;
	cursor:default;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.help-text {
	display:block;
	margin:10px auto 0 auto;
	font-size:16px;
	line-height:25px;
}
.help-action {
	cursor:pointer;
}

.dock-wrapper {
	position:absolute;
	z-index:9999;
	bottom:0;
	left:0;
	width:100%;
	height:85px;
	overflow:visible;
	text-align:center;
}
.dock {
	position:relative;
	display:inline-block;
	margin:0 auto 0 auto;
	height:100%;
	width:auto;
	font-size:0;
	border-radius:10px 10px 0 0;
	padding:10px;
}
.dock-item {
	display:inline-block;
	position:relative;
	width:64px;
	height:64px;
	margin:0 5px 0 5px;
	text-align:center;
	float:left;
}
.dock-name {
	display:none;
	position:absolute;
	bottom:90px;
	left:12px;
	font-size:16px;
	height:30px;
	padding:0 10px 0 10px;
	border-radius:20px;
}
.dock-name:after {
	content:" ";
	position:absolute;
	top:100%;
	left:20px;
	margin-left:-5px;
	border-width:5px;
	border-style:solid;
	border-color:black transparent transparent transparent;
}
.dock-icon {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	margin:0;
	overflow:hidden;
	border-radius:50%;
	transition:0.15s;
	outline:none;
	border:none;
}
#desktop .dock-item:hover .dock-icon {
	width:75px;
	height:75px;
	bottom:6px;
	left:-5px;
}
#desktop .dock-item:hover .dock-name {
	display:inline-block;
}

.login-wrapper {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	font-size:0;
}
.activity-window.front.login .activity-window-bottom {
	overflow:hidden;
}
.login-response {
	position:absolute;
	top:10px;
	right:10px;
	height:40px;
	font-size:18px;
	border-radius:40px;
	cursor:default;
	padding:0 15px 0 15px;
	transition:opacity 0.25s;
	opacity:0;
}
.login-account-wrapper {
	font-size:0;
}
.login-account-wrapper .account-icon {
	width:40px;
	height:40px;
	vertical-align:top;
	display:inline-block;
	margin:10px 0 10px 10px;
}
.login-account-wrapper span {
	font-weight:bold;
	font-size:18px;
	height:40px;
	line-height:40px;
	vertical-align:top;
	display:inline-block;
	margin:10px;
}
.login-input-wrapper {
	font-size:0;
}
.login-input-wrapper .clock-icon {
	width:24px;
	border-radius:50%;
	height:24px;
	padding:8px;
	display:inline-block;
	transition:background 0.25s;
	vertical-align:top;
	cursor:pointer;
	border-style:solid;
	border-width:0;
	margin:0 0 0 10px;
}
.login-input {
	width:calc(100% - 140px);
	height:40px;
	font-size:16px;
	padding:0 10px 0 10px;
	margin:0 10px 10px 10px;
	display:inline-block;
	border-radius:5px;
	vertical-align:top;
}
.login-input-wrapper .back-icon {
	width:24px;
	border-radius:50%;
	transform:rotate(180deg);
	height:24px;
	padding:8px;
	display:inline-block;
	transition:background 0.25s;
	vertical-align:top;
	cursor:pointer;
	border-style:solid;
	border-width:0;
}